*{
    margin: 0;
    padding: 0;
}

body{
    font-family: sans-serif;

}

#nav-bar{
    position: sticky;

    top: 0;
    z-index: 10;
}

.navbar{
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    padding: 0;
}

.navbar-nav a{
    color: #fff;
    font-weight: 500;

}

img{
    width: auto;
    height: 100%;
}

.fa-bars{
    color: #fff;
    font-size: 30px;
}

/*-----------banner section-------------*/

#banner{
    height: 50%;
    background-image: linear-gradient(to right, rgb(255, 255, 255), rgb(255, 255, 255));
    color: rgb(0, 0, 0);
    padding-top: 5%;
}

.promo-title{
    font-size: 40px;
    font-weight: 800;
    margin-top:  100px;

}

.play-btn{
    
    margin: 20px;
}

#banner a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.bottom-img{
    width:200%
    
}


/*-----------services section-------------*/

#services{
    padding: 70px 0;

}

.services-img {
    width: 100px;
    margin-top: 20px;

}

/*-----added a new code------*/
.card-container{
    display: flex;
    justify-content: center;
}



.services{
    padding: 0;
/*-----added a new code------*/
    background: rgb(255, 255, 255);
    width: 220px;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
}

/*-----added a new code------*/
.card-image{
    background-color: rgb(255, 255, 255);
    height: 150px;
    margin-bottom: 15px;
    border-radius: 15px;

}

.services h4{
padding: 5px 0;
margin-top: 25px;
text-transform: uppercase;

}

.title::before{
content:'';
background: linear-gradient(to right, rgb(199, 70, 224), rgb(146, 19, 172));
height: 5px;
width: 250px;
margin-left: auto;
margin-right: auto;
display: block;
transform: translateY(60px);

}

/*.title::after{
    content:'';
    background: #9213ac;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
    
    }
*/

    #services .btn-primary
    {
        box-shadow: none;
        padding: 8px 25px;
        border: none;
        border-radius: 20px;
        background-image: linear-gradient(to right, rgb(199, 70, 224), rgb(146, 19, 172));
    }


/*-----------About Us section-------------*/
    .about-title{
        font-size: 40px;
        font-weight: 600;
        margin-top: 8%;
    }


    #about-us ul li{
        margin: 10px 0;
    }

    #about-us ul{
        margin-left: 20px;
        list-style-type: none
    }

    .img-fluid{
        margin-top: 70px;
    }




/*-----------socials section-------------*/

#social-media{
    background: #ffffff;
    padding: 100px 0;
}

#social-media p{
    font-size: 36px;
    font-weight: 600;
    margin-bottom:30px;
}

.social-icons{
    padding: 50px 0;

}

.social-icons img{
    width: 80px;
    height: auto;
    padding: 5px;
    transition: 0.5s;

}

.social-icons a:hover img{
    transform: translateY(-10px);
}